body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 30;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: white;
}
